<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleName</key>
	<string>RoombaCommTest</string>
	<key>CFBundleVersion</key>
	<string>10.2</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>RoombaTest.icns</string>
	<key>Java</key>
	<dict>
		<key>MainClass</key>
		<string>roombacomm.RoombaCommTest</string>
		<key>JVMVersion</key>
		<string>1.5</string>
		<key>ClassPath</key>
			<array>
			<string>$JAVAROOT/roombacomm.jar</string>
			<string>$JAVAROOT/RXTXcomm.jar</string>
			</array>
		<key>Properties</key>
		<dict>
			<key>java.library.path</key>
			<string>$JAVAROOT</string>
		</dict>
	</dict>
</dict>
</plist>
